[
    {
        "name": "Dominic",
        "audio": "something.mp3",
        "seek": 30,
        "duration": 20,
        "mac_addresses": [
            "3c:d0:f8:67:43:4c",
            "de:ad:be:ef:ca:fe"
        ],
        "last_seen": "2011-12-31 01:59:45.522998"
    }
]
